body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(nature.jpeg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

/* For border of login section */
.border-login {
  border-style: outset;
  border-width: thick;
}

/* For styling of login section */
.container {
  position: center;
  margin: auto;
  max-width: 400px;
  padding: 10px 10px 10px 10px;
  background-color: beige;
}

/* For styling of header */
.header-name {
  color: beige;
}

#topnavigation h1 {
  padding-bottom: 1px;
  padding-top: 1px;
}

#topnavigation {
  text-align: center;
  overflow: auto;
  background-color: #12aa72;
  color: beige;
  font-size: 20px;
  height: 75%;
}

#topnavigation a {
   text-decoration: none;
 }

/* For styling of password section */
#pswd {
  padding: 15px;
}

button {
  background-color: #04AA6D;
  display: inline-block;
  width: 330px;
  cursor: pointer;
  height: 50px;
  padding: 15px;
}

/*For inputs */
input[type="text"],
input[type="password"] {
  width: 300px;
  height: 25px;
  padding: 15px;
  margin: 0px 0 22px 0;
  display: block;
  border: none;
  background: #f1f1f1;
  background-color: #ddd;
  outline: none;
  text-align: center;
  margin: auto;
}

a {
  color: rgb(12, 12, 12);
  font-weight:bold;
}
