<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <link rel="stylesheet" href="stylesheets/radar-style.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Civic Duty Wellness</title>
</head>
<body>
    <nav id="top-nav" class="top-nav">
        <a href="#">About Us</a>
        <a href="#">Resources</a>
        <a href="#">Marketplace</a>
        <a href="/" id="logo">
          <img src="civicduty-edited.png">
          <h1>Civic Duty Wellness</h1>
        </a>
        <a href="#">Wellness Report</a>
        <a href="/survey">Wellness Survey</a>
        <a href="/dashboard">Profile</a>
        <!--
        Settings should be linked from profile
        <a href="#">Settings</a>
        -->
    </nav>

    <section id="heading">
        <h2>Profile</h2>
    </section>

    <div class="container">
        <canvas id="myChart"></canvas>
    </div>

    <script src="MyRadar.js"></script>
</body>
</html>