<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Civic Duty Wellness</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="script.js"></script>
  </head>
  <body>
    <nav id="top-nav" class="top-nav">
      <a href="#">About Us</a>
      <a href="#">Resources</a>
      <a href="#">Marketplace</a>
      <a href="/" id="logo">
        <img src="civicduty-edited.png">
        <h1>Civic Duty Wellness</h1>
      </a>
      <a href="#">Wellness Report</a>
      <a href="/survey">Wellness Survey</a>
      <a href="#">Profile</a>
      <!--
      Settings should be linked from profile
      <a href="#">Settings</a>
      -->
    </nav>
    <section class="green-square">
      <h2> How are you feeling today?</h2>
      <p>Take a second to think to yourself:</p>
      <p><i>How am I doing today?</i></p>
      <p>Now think about why you feel that way. What do you want to do about that? See you tomorrow.</p>

      <button class="button1" onclick="goodFeeling()">I'm feeling good</button>
      <button class="button1" onclick="badFeeling()">I'm feeling bad</button>
      <p id="how-are-you-feeling-response"></p>
    </section>
  </body>
</html>
