<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="login.css">
  </head>

  <body>

      <nav id="topnavigation"> <!-- Header -->
      <h1 class="header-name">CIVIC DUTY WELLNESS APP</h1>
      </nav>
      
      <section class="container border-login">
        <!-- Log In Section -->
        <h1>Login</h1>

        <div class="container">
          <label for="user"><b>Username</b></label>
          <input maxlength="25" type="text" placeholder="Enter Username" name="user" required />
          <br>
          <label for="pswd"><b>Password</b></label>
          <input
            type="password"
            maxlength="25"
            placeholder="Enter Password"
            name="pswd"
            required/>
          <br>

          <label><input type="checkbox" checked="checked" name="remember"/> Remember me</label><br><br>
        </div>

        <button type="submit">Login</button>
        <br>
        <br>
        <button type="button" class="cancel">Cancel</button>
        <br>

        <div class="container">
          <section id="pswd">
            <!-- Forgot password hyperlink -->
            <span><a href="#">Forgot password?</a></span>
            <br>
            <!-- Sign up hyperlink -->
            <span><a href="/register">Don't have an account? Sign Up</a>
          </section>
        </div>

      </section>
  </body>
</html>
